# Core Flask and Web Server
Flask>=2.3.3,<3.0
hypercorn>=0.16.0,<1.0

# Database and Migrations
SQLAlchemy>=2.0.36,<3.0
Flask-SQLAlchemy>=3.1.1,<4.0
flask-migrate>=4.0.7,<5.0
psycopg2-binary>=2.9.10,<3.0

# API and Utilities
blinker>=1.8.2,<2.0
beautifulsoup4>=4.12.3,<5.0
certifi>=2024.8.30,<2025.0
charset-normalizer>=3.4.0,<4.0
click>=8.1.7,<9.0
flask-cors>=5.0.0,<6.0
idna>=3.10,<4.0
itsdangerous>=2.2.0,<3.0
Jinja2>=3.1.4,<4.0
MarkupSafe>=3.0.2,<4.0
python-dotenv>=1.0.1,<2.0
requests>=2.32.0,<3.0
typing_extensions>=4.12.2,<5.0
urllib3>=2.2.3,<3.0
Werkzeug>=3.0.0,<4.0