blinker
certifi
charset-normalizer
click
Flask
flask-cors
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
gunicorn
gevent
psycopg2-binary
flask-migrate
python-dotenv
beautifulsoup4